
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    font-family: 'DM sans';
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  background-color: #f0f0f0;
  min-height: 80vh;
}

.login-form {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
  color: #2c2c2c;
}

.login-label {
  font-weight: 500;
  color: #333;
}

.login-input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}

.login-input:focus {
  border-color: rgb(255, 196, 81);
}

.login-button {
  background-color: rgb(255, 196, 81);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: rgb(255, 196, 81);
}

.login-back-btn {
  position: absolute;
  top: 20px;
  left: 30px;
  text-decoration: none;
  color: rgb(255, 196, 81);;
  font-weight: 600;
  background: #ffffff;
  border: 1px solid rgb(255, 196, 81);
  padding: 6px 12px;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}

.login-back-btn:hover {
  background-color: rgb(255, 196, 81);
  color: #ffffff;
}
